NODE_ENV=your_node_env
PORT=your_port
DATABASE_URL=your_database_url
FRONTEND_URL=your_frontend_url

BCRYPT_SALT_ROUND=your_bcrypt_salt_round

JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_ACCESS_EXPIRES_IN=your_jwt_access_expires_in

JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_REFRESH_EXPIRES_IN=your_jwt_refresh_expires_in

STRIPE_PRODUCT_PRICE_ID=your_stripe_product_price_id
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET_KEY=your_stripe_webhook_secret_key
